{% extends "admin/base.html.twig" %}

{% block content %}
    <form class="bootstrap-form-with-validation" method="post" action="/admin/account">
        <h2>My Account</h2>
        <p> </p>
        <input type="hidden" name="id" value="{{ account.getId() }}">
        <input type="hidden" name="username" value="{{ account.getUsername() }}">
        <input type="hidden" name="lastLoginDate" value="{{ account.getLastLoginDate() }}">
        <input type="hidden" name="dateCreated" value="{{ account.getDateCreated() }}">
        <div class="form-group">
            <label class="control-label">Username: </label>
            <p class="form-static-control">{{ account.getUsername() }}</p>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" value="{{ account.getPassword() }}" required="" maxlength="50" id="password">
        </div>
        <div class="form-group">
            <label class="control-label" for="displayName">Display Name:</label>
            <input class="form-control" type="text" name="displayName" value="{{ account.getDisplayName() }}" required="" maxlength="100" id="displayName">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="control-label">
                    <input type="checkbox" name="active" {% if account.getActive() %} checked {% endif %}><strong>Active</strong></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="text">Last Login Date:</label>
            <p class="form-static-control">{{ account.getLastLoginDate()|date("F d, Y g:i A") }}</p>
        </div>
        <div class="form-group">
            <label class="control-label" for="text">Date Created:</label>
            <p class="form-static-control">{{ account.getDateCreated()|date("F d, Y g:i A") }}</p>
        </div>
        <div class="form-group">
            <label class="control-label" for="text">Date Modified:</label>
            <p class="form-static-control">{{ account.getDateModified()|date("F d, Y g:i A") }}</p>
            <p> </p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Save </button><span> </span>
            <button class="btn btn-default" type="reset">Cancel</button>
        </div>
    </form>
{% endblock %}