<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteDetail.getTitle() }}'s Admin Portal{% if navSession.getPageTitle() %} - {% endif %}{{ navSession.getPageTitle() }}</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/{{ theme.getName() }}-styles.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        {% if theme.getShowBannerImage() %}
            div.jumbotron{
                background-image:url("{{ theme.getBannerImagePath() }}");
            }
        {% endif %}
        {% if theme.getShowBackgroundImage() %}
            body{
                background-image:url("{{ theme.getBackgroundImagePath() }}");
            }
        {% endif %}
    </style>
</head>

<body>
    <div id="header">
        <div class="jumbotron">
            <h1>{{ siteDetail.getTitle() }}'s Admin Portal</h1><p></p></div>
    </div>
    <div id="menu">
        <nav class="navbar navbar-default navbar-static-top">
            {% if adminSession %}
                <div class="container-fluid">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/" target="_blank"><i class="glyphicon glyphicon-home"></i> View Site </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li {% if navSession.getSection() == "Account" %}class="active"{% endif %} role="presentation"><a href="/admin/account"><i class="glyphicon glyphicon-lock"></i> My Account</a></li>
                            {% if adminSession.getIsAdmin() %}
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="glyphicon glyphicon-cog"></i> Site Configuration<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li {% if navSession.getSection() == "SiteConfiguration" and navSession.getSubSection() == "About" %}class="active"{% endif %} role="presentation"><a href="/admin/about"><i class="glyphicon glyphicon-info-sign"></i> About Site</a></li>
                                        <li {% if navSession.getSection() == "SiteConfiguration" and navSession.getSubSection() == "Theme" %}class="active"{% endif %} role="presentation"><a href="/admin/theme"><i class="glyphicon glyphicon-star"></i> Site Theme</a></li>
                                    </ul>
                                </li>
                                <li {% if navSession.getSection() == "Contributors" %}class="active"{% endif %} role="presentation"><a href="/admin/contributor"><i class="glyphicon glyphicon-user"></i> Contributors </a></li>
                                <li {% if navSession.getSection() == "Categories" %}class="active"{% endif %} role="presentation"><a href="/admin/category"><i class="glyphicon glyphicon-tags"></i> Categories </a></li>
                            {% endif %}
                            <li {% if navSession.getSection() == "Pages" %}class="active"{% endif %} role="presentation">
                                <a href="/admin/page"> <i class="glyphicon glyphicon-file"></i> Pages</a>
                            </li>
                            <li role="presentation"><a href="/admin/logout"><i class="glyphicon glyphicon-off"></i> Logout </a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
    <div id="body">
        <div id="bodyContent">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <footer><small>Powered by <strong><a href="https://github.com/aosardez/stepostr">stepostr</a></strong>. Copyright &copy; {{ "now"|date("Y") }}</small></footer>
    </div>
</body>

</html>