{% extends "admin/base.html.twig" %}

{% block content %}
    <form class="bootsdtrap-form-with-validation" method="post" action="/admin/pagestep-save" enctype="multipart/form-data">
        <h2>Page Step Details</h2>
        <p> </p>
        <input type="hidden" name="id" value="{{ pageStep.getId() }}">
        <input type="hidden" name="pageId" value="{{ pageStep.getPageId() }}">
        <input type="hidden" name="imagePath" value="{{ pageStep.getImagePath() }}">
        <div class="form-group">
            <label class="control-label">Page Title: </label><span> </span>
            <label class="control-label">{{ page.getTitle() }}</label>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Step Name: </label>
            <input class="form-control" type="text" name="name" required maxlength="100" value="{{ pageStep.getName() }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="order">Order: </label>
            <input class="form-control" type="number" name="order" required min="0" value="{{ pageStep.getOrder() }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="body">Body: </label>
            <textarea class="form-control" rows="5" name="body" required>{{ pageStep.getBody() }}</textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="image">Image:</label>
            <p class="form-static-control"><strong>Path: </strong>{{ pageStep.getImagePath() }}</p>
            <input type="file" name="image" accept="image/*">
        </div>
        <div class="form-group">
	        <button class="btn btn-default" type="submit">Save </button><span> </span>
            <a href="/admin/page-edit/{{ pageStep.getPageId() }}" class="btn btn-default">Cancel</a>
        </div>
    </form>
{% endblock %}